// .explanation-index{ border: #b286fb 5px solid; } 
main{
    background-color: #fcf8ff;
}

header p{
    max-width: 550px;
}
.explanation-index img{
    height: 100px;
}

.hero{
    background-color: #ffffff;
}